nav ul li p {
	color: red;
}
nav ul li body {
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
	background-color:#3C0F56;
}
nav ul li p {
    font-family: "Times New Roman";
    font-size: 15px;
}
nav ul li h1{
	font-family: "Arial";
	font-size:20px;
}