body {
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
	background-color:#3C0F56;
}

nav p{
    font-family: "Times New Roman";
    font-size: 15px;
    color:red;
    margin-left:1%;
}

h1{
	font-family: "Arial";
	font-size:20px;
	color:white                                                                               
}

body h1{
  border:10px;
  outline-style:double;
  text-align:center;
}

nav ul{
  margin-top:-185px;
  margin-left:-120px;
}

nav ul li {
  float: left;
  padding:5px;
  margin-right:25px;
}

nav ul li a{
  font-family:"Arial";
  font-size: 15;
  color: yellow;
  text-decoration:none;
}

nav ul li a:hover{
  background-color: red;
  color: yellow;
}

nav ul {
  list-style: none;
}

nav ul img{
  margin-top:10px;
}